In [1]:
from sklearn import datasets
import pandas as pd
import numpy as nmp
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('Car_Dataset.csv')

In [3]:
df_n=df[['selling_price','km_driven','year']]
df_n.head(2)

   selling_price  km_driven  year
0          60000      70000  2007
1         135000      50000  2007

# Applying Normalization :MinMax Scalling

In [4]:
from sklearn.model_selection import train_test_split
X=df_n.drop('selling_price',axis=1)
y=df_n['selling_price']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
X_train.shape

(3472, 2)

In [7]:
X_test.shape

(868, 2)

In [8]:
y_train.shape

(3472,)

In [9]:
y_test.shape

(868,)

# Feature Scalling:Minmax scaler

In [10]:
from sklearn.preprocessing import MinMaxScaler

In [11]:
scaler=MinMaxScaler()

In [12]:
X_train_scalled=scaler.fit_transform(X_train)
X_test_scalled=scaler.fit_transform(X_test)

In [13]:
X_train_scalled

array([[0.02479426, 0.89285714],
       [0.06198751, 0.92857143],
       [0.03099313, 0.75      ],
       ...,
       [0.06322728, 0.85714286],
       [0.09918076, 0.75      ],
       [0.09918076, 0.75      ]])

In [14]:
X_train_scalled=pd.DataFrame(data=X_train_scalled,columns=X_train.columns)
X_test_scalled=pd.DataFrame(data=X_test_scalled,columns=X_train.columns)

In [15]:
X_test_scalled

     km_driven      year
0     0.226361  0.583333
1     0.074499  0.958333
2     0.116685  0.500000
3     0.401146  0.750000
4     0.169054  0.833333
..         ...       ...
863   0.169054  0.458333
864   0.340974  0.791667
865   0.111748  0.625000
866   0.015702  0.875000
867   0.083095  0.958333

[868 rows x 2 columns]

In [22]:
X_train_scalled

      km_driven      year
0      0.024794  0.892857
1      0.061988  0.928571
2      0.030993  0.750000
3      0.086783  0.678571
4      0.089263  0.892857
...         ...       ...
3467   0.061988  0.500000
3468   0.099181  0.678571
3469   0.063227  0.857143
3470   0.099181  0.750000
3471   0.099181  0.750000

[3472 rows x 2 columns]